<div class="avatar-wrapper wow fadeInUp" data-wow-delay="100ms">
  <img src=<%=`/assets/avatars/${Math.random() < 0.5 ? 'male1' : 'female1' }.svg`%> class="avatar-img" alt="" />
  <img src="../../assets/pulse.gif" alt="" class="avatar-pulse position-absolute" />
</div>


<script>
  function avatarGen(elem, sprite, seed) {
    if (elem == null && sprite == null && seed == null) {
      document.querySelectorAll(".avatar-img").forEach(elem => elem.src = `/assets/avatars/${Math.random() < 0.5 ? 'male1' : 'female1'}.svg`);
      return;
    }



    seed = seed.split(" ").join("");
    const url = `https://avatars.dicebear.com/api/${sprite}/${seed}.svg?background=%23f4d150`;
    elem.src = url;
    console.log("avatar URL:  " + url);
  }



</script>