<div class="avatar-wrapper wow" data-wow-delay="100ms">
  <img src="assets/avatars/male1.svg" class="avatar-img" alt="" />
  <img
    src="../../assets/pulse.gif"
    alt=""
    class="avatar-pulse position-absolute"
  />
</div>
