<div class="avatar-wrapper wow fadeInUp" data-wow-delay="100ms">
  <img src="#" " class="avatar-img" alt="" />
  <img src="../../assets/pulse.gif" alt="" class="avatar-pulse position-absolute" />
</div>


<script>

  async function avatarGen(elem, sprite, seed) {
    if (elem == null && sprite == null && seed == null) {
      const spriteXY = ['adventurer', 'avataaars', 'big-ears', 'big-smile', 'micah', 'miniavs', 'personas', 'open-peeps'];

      const randomSprite = Math.floor(Math.random()*8);
      const url = await `https://avatars.dicebear.com/api/${spriteXY[randomSprite]}/${Math.floor(Math.random()*10)}.svg?background=%23f4d150`;
      document.querySelectorAll(".avatar-img").forEach(elem => elem.src = url);
      url;
    }
    else {
      seed = seed.replace(/\s/g, "").toLowerCase();
      const url = `https://avatars.dicebear.com/api/${sprite}/${seed}.svg?background=%23f4d150`;
      elem.src = url;
    }
  }

</script>