<footer class="text-secondary text-center wow fadeInUp" data-wow-delay="500ms">
  Proudly Desinged & Developed <br />
  by
  <a href="asity.tech" class="fw-semibold text-decoration-none">asity.tech</a>
</footer>
