<div class="floating-btn-wrapper mb-5 me-5 bottom-0 end-0 position-fixed">
  <div class="menu p-2">
    <a
      href="../public/asitians/vipin/dev-info.html"
      class="text-decoration-none"
    >
      <p class="mb-2">dev info</p></a
    >
    <p class="mb-2">light</p>

    <p class="mb-0">help & support</p>
  </div>
  <img
    src="assets/gear.svg"
    class="float-end mt-4 p-3 wow fadeInRight"
    data-wow-delay="600ms"
    alt=""
  />
</div>
