<div class="floating-btn-wrapper">
  <div class="menu p-2">
    <a
      href="../public/asitians/vipin/dev-info.html"
      class="text-decoration-none"
    >
      <p class="mb-2">dev info</p></a
    >
    <p class="mb-2">light</p>

    <p class="mb-0">help & support</p>
  </div>
  <img
    src="assets/gear.svg"
    class="float-end mt-4 p-3 wow fadeInRight"
    data-wow-delay="600ms"
    alt=""
  />
</div>
<script>
  const floating_btn_gear = document.querySelector(".floating-btn-wrapper img");
  const menu = document.querySelector(".menu");
  floating_btn_gear.addEventListener("click", () => {
    menu.classList.toggle("open");
    floating_btn_gear.classList.toggle("selected-question");
  });
</script>
