<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head', {title: "ðŸmaniðŸ"})%> <% const toSentenceCase =
  function(str){ return str.split(' ') .map(w => w[0].toUpperCase() +
  w.substr(1).toLowerCase()) .join(' ') } %>

  <body class="py-5">
    <div class="mt-5 pt-5"><%- include('partials/avatar.ejs')%></div>
    <h1>mani.ejs</h1>
    <section class="w-100 pt-5">
      <div
        id="q${index}"
        class="border-top my-5 wow fadeInUp"
        data-wow-delay="300ms"
      >
        <div
          class="
            container
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
        >
          <div
            class="
              mx-0
              d-flex
              justify-content-center
              align-items-center
              responder-question-number
            "
          >
            <p
              id="activeStatus"
              type="button"
              class="border d-flex justify-content-center align-items-center"
            >
              1
            </p>
          </div>
          <div class="row g-3 py-5">
            <div class="col-12">
              <input
                type="text"
                id="qString"
                class="form-control"
                value="asity"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                id="option_a"
                class="opn btn btn-primary w-100"
                value="correct option"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                id="option_b"
                class="opn btn btn-light w-100"
                value="asity"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                id="option_c"
                class="opn btn btn-light w-100"
                value="asity"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                id="option_d"
                class="
                  opn
                  btn btn-light btn-border-for-choosed-wrong-option
                  w-100
                "
                value="choosed wrong option"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        id="q${index}"
        class="border-top my-5 wow fadeInUp"
        data-wow-delay="300ms"
      >
        <div
          class="
            container
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
        >
          <div
            class="
              mx-0
              d-flex
              justify-content-center
              align-items-center
              responder-question-number
            "
          >
            <p
              id="activeStatus"
              type="button"
              class="border d-flex justify-content-center align-items-center"
            >
              2
            </p>
          </div>
          <div class="row g-3 py-5">
            <div class="col-12">
              <input
                type="text"
                id="qString"
                class="form-control"
                value="asity"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                id="option_a"
                class="opn btn btn-primary w-100"
                value="correct option & choosed correct option"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                id="option_b"
                class="opn btn btn-light w-100"
                value="asity"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                id="option_c"
                class="opn btn btn-light w-100"
                value="asity"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                id="option_d"
                class="opn btn btn-light w-100"
                value="asity"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container row col-sm-6 col-md-10">
      <button
        id="cook"
        type="button"
        class="btn btn-primary wow fadeInUp"
        data-wow-delay="400ms"
        onclick="cook()"
      >
        Share with my friends
      </button>
    </div>

    <%- include('partials/offcanvas.ejs')%> <%- include('partials/footer.ejs')%>
  </body>
</html>
