<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>
  <body>
    <div class="container mt-5">
      <!-- For Frontend Dev Team -->
      <div>
        <p class="fw-bold text-secondary mani-kangkan">Frontend Dev Team
          <hr>
        </p>
        <div class="row mt-5">
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Manashjyoti Boro</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Aijul Hussian</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Venom Kage</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Bidipta Saikia</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Manikangkan Das</p>
            </div>
          </div>
        </div>
      </div>

      <!-- For Backend Dev Team -->
      <div class="my-5">
        <p class="fw-bold text-secondary mani-kangkan">Backend Dev Team
          <hr>
        </p>
        <div class="row mt-5">
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Abhisek Mandal</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Ramjan Ali</p>
            </div>
          </div>
        </div>
      </div>
      <!-- For Manegerial Dev Team -->
      <div>
        <p class="fw-bold text-secondary mani-kangkan">Manegerial Team
          <hr>
        </p>
        <div class="row mt-5">
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Abhisek Samantaray</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Priyangshu Pandey</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="rounded-circle" />
                <img
                  src="assets/dev-info-border.png"
                  alt=""
                  class="position-absolute"
                />
              </div>
              <p>Manikangkan Das</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Floating button -->
    <%- include('partials/offcanvas.ejs')%> 
    <%-include('partials/footer.ejs')%>
    <script>
        const avatars = document.querySelectorAll(".rounded-circle");
        // random avatar generation
        avatars.forEach(
        (avatar, index) =>
            (avatar.src = `https://avatars.dicebear.com/api/micah/${
            Math.random() * (index + 1)
            }.svg?background=%23f4d150`)
        );

        //fade up animation using wow.js
        const items = document.querySelectorAll(".mani-kangkan");
        items.forEach((item, index) => {
        item.classList.add("wow", "fadeInDown");
        item.setAttribute("data-wow-delay", (index + 1) * 200 + "ms");
        item.classList.remove("mani-kangkan");
        });

    </script>
  </body>
</html>
