<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head', {title: "Developers"})%>
  <body>
    <div class="container mt-5">
      <!-- For Frontend Dev Team -->
      <div>
        <p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">Frontend Dev Team
          <hr>
        </p>
        <div class="row gap-5 mt-5">
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Manashjyoti Boro</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Aijul Hussian</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Venom Kage</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Bidipta Saikia</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Manikangkan Das</p>
            </div>
          </div>
        </div>
      </div>

      <!-- For Backend Dev Team -->
      <div class="my-5">
        <p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">Backend Dev Team
          <hr>
        </p>
        <div class="row gap-5 mt-5">
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Abhisek Mandal</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Ramjan Ali</p>
            </div>
          </div>
        </div>
      </div>
      <!-- For Manegerial Dev Team -->
      <div>
        <p class="fw-bold text-secondary wow fadeInRight" data-wow-delay="100ms">Manegerial Team
          <hr>
        </p>
        <div class="row gap-5 mt-5">
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Abhisek Samantaray</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Priyangshu Pandey</p>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xl-2">
            <div class="text-center mani-kangkan">
              <div
                class="d-flex justify-content-center align-items-center mb-4"
              >
                <img src="" class="avatar-img" />
                
              </div>
              <p>Manikangkan Das</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Floating button -->
    <%- include('partials/offcanvas.ejs')%> 
    <%-include('partials/footer.ejs')%>
  </body>
</html>
