<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head', {title: "ðŸFriendship QuizðŸ"})%>

    <body>
        <div class="
        col-xxl-4 col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11
        text-center
        mt-5
      ">
            <object data="assets/illustration-splash-screen.svg" type="image/svg+xml"
                class="img-fluid wow fadeInUp w-75" data-wow-delay="100ms"></object>

            <div class="text-center my-5 lh-1">
                <p class="wow fadeInUp" data-wow-delay="200ms">Test Your Bond</p>
                <h4 class="wow fadeInUp" data-wow-delay="300ms">Friendship Quiz</h4>
            </div>
            <a type="button" class="btn btn-primary w-100 wow fadeInUp" data-wow-delay="400ms" href="/start">
                Play
            </a>
        </div>
        <%- include('partials/offcanvas.ejs')%>
            <%-include('partials/copyright.ejs')%>
                <%-include('partials/footer.ejs')%>
    </body>

</html>