<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>
  <body
    class="vh-100 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11">
      <div
        class="
          d-flex
          justify-content-center
          align-items-center
          avatar-wrapper
          wow
          fadeInUp
        "
        data-wow-delay="100ms"
      >
        <img src="assets/avatar.png" class="avatar-img" alt="" />
        <img
          src="assets/pulse.gif"
          alt=""
          class="avatar-pulse position-absolute"
        />
      </div>

      <div class="w-100">
        <form action="/login" autocomplete="off" method="POST">
          <div class="wow fadeInUp" data-wow-delay="200ms">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <!-- <div class="d-flex gap-3 my-3 wow fadeInUp" data-wow-delay="900ms">
                    <input type="radio" class="btn btn-light col" value="Female">
                    <button type="button" class="btn btn-light col">Male</button>
                </div> -->

          <div
            class="btn-group d-flex gap-3 my-3 wow fadeInUp"
            data-wow-delay="300ms"
            role="group"
          >
            <input
              type="radio"
              class="btn-check"
              name="gender"
              id="btnradio1"
              value="male"
            />
            <label class="btn col" for="btnradio1">Male</label>
            <input
              type="radio"
              class="btn-check"
              name="gender"
              id="btnradio2"
              value="female"
            />
            <label class="btn col" for="btnradio2">Female</label>
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 wow fadeInUp"
            data-wow-delay="400ms"
            onclick="location.href = '';"
          >
            Next
          </button>
        </form>
      </div>
    </div>
    <%- include('partials/gear.ejs')%> <%-include('partials/footer.ejs')%>
  </body>
</html>
