<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>
  <body
    class="vh-100 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11">
      <div
        class="
          d-flex
          justify-content-center
          align-items-center
          avatar-wrapper
          wow
          fadeInUp
        "
        data-wow-delay="100ms"
      >
        <img src="assets/avatars/female1.svg" class="avatar-img" alt="" />
        <img
          src="../../assets/pulse.gif"
          alt=""
          class="avatar-pulse position-absolute"
        />
      </div>

      <div class="w-100">
        <div class="wow fadeInUp" data-wow-delay="200ms">
          <label for="usercode" class="form-label">Have a code?</label>
          <input
            type="text"
            class="form-control"
            name="usercode"
            id="usercode"
            placeholder="Type your playcode here"
          />
        </div>
        <div class="d-flex gap-3 my-3 wow fadeInUp" data-wow-delay="300ms">
          <button
            type="button"
            id="clientLogin"
            class="btn btn-primary col"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Play
          </button>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog text-center">
              <div
                class="
                  modal-content
                  position-relative
                  d-flex
                  justify-content-center
                  align-items-center
                "
              >
                <h5 class="modal-title fw-bold" id="exampleModalLabel">
                  Dear, Manikangkan
                </h5>
                <div class="modal-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Luctus nisl justo pellentesque dui neque, amet vel. Sapien
                  dolor velit, viverra amet sed commodo gravida pharetra.
                </div>
                <button
                  type="button"
                  class="btn btn-primary modal-btn w-50"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  O yeah, got it dear
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex gap-3 my-3 wow fadeInUp" data-wow-delay="400ms">
          <button
            type="button"
            id="newuser"
            class="btn btn-light col"
            onclick="location.href = '/login';"
          >
            Create a quiz
          </button>
        </div>
      </div>
    </div>
    <%- include('partials/menu.ejs')%> <%- include('partials/footer.ejs')%>

    <script>
      const clientLoginBtn = document.querySelector("#clientLogin");

      clientLoginBtn.addEventListener("click", function () {
        let usercode = document.querySelector("#usercode").value;
        if (usercode == null || usercode == "") {
          alert("Quiz Code Can't be empty");
          return;
        }

        if (validURL(usercode)) {
          usercode = usercode.split("/")[usercode.split("/").length - 3];
          console.log("this is a url " + usercode);
        }
        if (hasLowerCase(usercode)) {
          validate(usercode).then((data) => {
            if (data.userExists) window.location.href = data.redirect;
            else alert("Sorry! This user does not exit");
          });
        } else alert("invalid code");
      });

      function hasLowerCase(str) {
        return /^[a-zA-Z]+$/.test(str);
      }

      async function validate(usercode) {
        const response = await fetch(`/${usercode.toLowerCase()}/validate`, {
          method: "GET",
          redirect: "follow",
        });
        return response.json();
      }

      function validURL(str) {
        var res = str.match(
          /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g
        );
        return res !== null;
      }
    </script>
  </body>
</html>
