<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendShip Quiz</title>
</head>
<body>
    <h1>Hi there! you are one step away from Entering a quiz</h1>

    <button onclick="location.href = '/login';">Create A Quiz</button> 



    <label for="usercode"><h2 >Have a code? </h2></label>
    <input type="text" name="usercode" id="usercode" placeholder="playcode">
    <button id="clientLogin">Play</button>

    <script>
        const clientLoginBtn = document.querySelector('#clientLogin');

        clientLoginBtn.addEventListener('click',function() {
            let usercode = document.querySelector("#usercode").value;
            if(usercode == null || usercode == ''){
                alert("Quiz Code Can't be empty");
                return;
            }
            
            location.href = `/${usercode}/play`;
        });
    </script>
</body>


</html>