<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share screen</title>
</head>
<body>
    <h3>Congrats for making out so long</h3>
    <h2>Share this</h2>
    <textarea><%=id%>/play</textarea>
</body>
</html>