<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/wow/animate.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Share My Quiz</title>
</head>
<!-- Are you ready, let's go then -->

<body class="
      min-vh-100
      d-flex
      flex-column
      justify-content-center
      align-items-center
    ">
    <div class="col-xxl-8 col-xl-8 col-lg-6 col-md-8 col-sm-10 col-11">
        <div class="
          d-flex
          justify-content-center
          align-items-center
          avatar-wrapper
          wow
          fadeInDown
        " data-wow-delay="100ms">
            <img src="/assets/avatar.png" class="avatar-img" alt="" />
            <img src="/assets/pulse.gif" alt="" class="avatar-pulse position-absolute" />
        </div>
        <div class="text-center my-5 lh-1">
            <p class="wow fadeInDown" data-wow-delay="200ms">
                Well done 
            </p>
            <h2 class="fw-bold lh-base fadeInDown" data-wow-delay="300ms">
                <%= id.toUpperCase() %> 
            </h2>
            <p class="wow fadeInDown mt-4" data-wow-delay="400ms">
                Time to challenge my Friends 😏
            </p>

            <p id="copyURL" class="form-control mt-2"></p>
            <button type="button" class="btn" onclick="copyEvent('copyURL')">COPY PLAYLINK</button>

            <p id="copyCode" class="form-control mt-3"><%= id.toLowerCase() %></p>
            <button type="button" class="btn" onclick="copyEvent('copyCode')">COPY PLAYCODE</button>

            
        
        </div>
        <div class="row g-2">
            <div class="col-6 col-sm-3 wow fadeInDown" data-wow-delay="500ms">
                <a href="#" type="button" class="
              btn btn-secondary
              d-flex
              justify-content-center
              align-items-center
            ">
                    <object data="../../assets/social-share-icons/1.svg" type="image/svg+xml"></object>
                </a>
            </div>
            <div class="col-6 col-sm-3 wow fadeInDown" data-wow-delay="500ms">
                <a href="../bidipta/starter-responder.html" type="button" class="
              btn btn-secondary
              d-flex
              justify-content-center
              align-items-center
            ">
                    <object data="../../assets/social-share-icons/2.svg" type="image/svg+xml"></object>
                </a>
            </div>
            <div class="col-6 col-sm-3 wow fadeInDown" data-wow-delay="500ms">
                <a href="../bidipta/starter-responder.html" type="button" class="
              btn btn-secondary
              d-flex
              justify-content-center
              align-items-center
            ">
                    <object data="../../assets/social-share-icons/3.svg" type="image/svg+xml"></object>
                </a>
            </div>
            <div class="col-6 col-sm-3 wow fadeInDown" data-wow-delay="500ms">
                <a href="../bidipta/starter-responder.html" type="button" class="
              btn btn-secondary
              d-flex
              justify-content-center
              align-items-center
            ">
                    <object data="../../assets/social-share-icons/4.svg" type="image/svg+xml"></object>
                </a>
            </div>
        
        <button class="btn" id="shareButton">Share</button>
        
        
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/js/avatar-fetch.js"></script>
    <script src="/wow/jquery.min.js"></script>
    <script src="/wow/wow.min.js"></script>
    <script>
        new WOW().init();
        function copyEvent(id)
        {
            var str = document.getElementById(id);
            window.getSelection().selectAllChildren(str);
            document.execCommand("Copy")
        }
        const urlText = document.querySelector("#copyURL");
        urlText.innerText = window.location.href;


        const shareButton = document.querySelector("#shareButton");
            shareButton.addEventListener('click', event => {
                let url = document.location.href;
            const canonicalElement = document.querySelector('link[rel=canonical]');
            if (canonicalElement !== null) {
                url = canonicalElement.href;
            }
            navigator.share({url});
        });
    </script>
</body>

</html>

