@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url(theme.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--tc) !important;
  border-radius: 2px !important;
}

body {
  background: var(--bg) !important;
}

.avatar-wrapper {
  margin-bottom: 6rem;
  mix-blend-mode: lighten !important;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 100% !important;
  background: #000 !important;
  background: #0000ff;
}

.avatar-pulse {
  opacity: 0.2;
  width: 250px !important;
  height: 250px !important;
  z-index: -1000;
}
.award-img {
  height: 25px;
}

.btn,
.form-control {
  background: var(--diselect) !important;
  border: none;
  padding: 12px;
  border: 0.2px solid var(--diselect) !important;
}

.form-control {
  background: none !important;
}

.btn-primary {
  font-weight: 600;
  background: linear-gradient(
    90deg,
    var(--lg-color-1),
    var(--lg-color-2)
  ) !important;
  border: none !important;
}

.form-control:focus,
.btn:focus {
  box-shadow: none !important;
  border-color: linear-gradient(
    90deg,
    var(--lg-color-1),
    var(--lg-color-2)
  ) !important;
}

.rounded-circle {
  width: 80px !important;
  height: 80px !important;
  cursor: pointer;
  /* skeleton loading for dynamic data */
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background: var(--bg);
  }
  50% {
    background: var(--diselect);
  }
  100% {
    background: var(--bg);
  }
}

.position-absolute {
  width: 120px;
  pointer-events: none;
}

.position-absolute {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.rounded-circle:hover ~ .position-absolute {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

.responder-question-number p {
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
  top: -30px;
  background: var(--bg);
}

.questions {
  margin-bottom: 5rem;
}

.navigator_item {
  border-radius: 100% !important;
  width: 50px !important;
  height: 50px !important;
  aspect-ratio: 1;
  margin-right: 20px;
}

.selected-question {
  background: linear-gradient(
    90deg,
    var(--lg-color-1),
    var(--lg-color-2)
  ) !important;
  border: none !important;
}

.row a {
  aspect-ratio: 1;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* btn hover effect */
/* “Websites promote you 24/7: No employee will do that.” - Paul Cookson */
/* Show your skills below */

/* For floating button */

.floating-btn-wrapper {
  width: fit-content;
}

.floating-btn-wrapper img {
  background: var(--diselect);
  border-radius: 100% !important;
  width: 46px;
  cursor: pointer;
}

.floating-btn-wrapper img:active {
  background: linear-gradient(
    90deg,
    var(--lg-color-1),
    var(--lg-color-2)
  ) !important;
  transform: rotate(360deg);
  transition: transform 0.8s ease-in-out;
}

.menu {
  background: rgba(58, 59, 60, 0.4) !important;
  backdrop-filter: blur(2px);
  border-radius: 4px !important;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
}

.menu.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

.menu p {
  padding: 8px 24px !important;
  cursor: pointer;
}

.menu p:hover {
  background: linear-gradient(
    90deg,
    var(--lg-color-1),
    var(--lg-color-2)
  ) !important;
}

object {
  pointer-events: none;
}
