@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
.btn,
.form-control {
  background: #303134 !important;
  padding: 14px 28px;
}

.form-control {
  background: none !important;
  margin: 0 !important;
  overflow: auto;
  border: 0.2px solid #4a4a4a !important;
}

.form-label {
  margin-bottom: 8px !important;
}

.btn {
  border: none !important;
}

.form-control:focus,
.btn:focus,
label {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.border-top,
.border {
  border-color: #4a4a4a !important;
}

.btn-primary {
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#fe0000), to(#fe8900)) !important;
  background: linear-gradient(90deg, #fe0000, #fe8900) !important;
  border: none !important;
}

.opn {
  border: none !important;
}

#button-addon2 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.modal {
  z-index: 100000;
}

.modal * {
  border: none !important;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: rgba(48, 49, 52, 0.2) !important;
  -webkit-backdrop-filter: blur(10px) !important;
          backdrop-filter: blur(10px) !important;
  border-bottom: 0.6rem solid rgba(255, 255, 255, 0.1) !important;
  padding: 2rem;
}

.modal-btn {
  margin-top: -2rem;
  cursor: pointer;
  pointer-events: all;
  z-index: 100000;
}

footer {
  margin-bottom: 1rem;
}

.skeleton-loading {
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background: #202124;
  }
  50% {
    background: #303134;
  }
  100% {
    background: #202124;
  }
}

@keyframes skeleton-loading {
  0% {
    background: #202124;
  }
  50% {
    background: #303134;
  }
  100% {
    background: #202124;
  }
}

.shine-hover {
  position: relative;
  overflow: hidden;
}

.shine-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.8)), to(transparent)) !important;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent) !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shine-hover:hover::before {
  left: 100%;
}

.offcanvas {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#18191a), to(rgba(24, 25, 26, 0.6))) !important;
  background: linear-gradient(#18191a, rgba(24, 25, 26, 0.6)) !important;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: none !important;
  padding-top: 6rem !important;
}

li {
  list-style-type: none;
  padding: 1rem 0;
  border-radius: 0 !important;
  cursor: pointer;
}

li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fe0000), to(#fe8900)) !important;
  background: linear-gradient(90deg, #fe0000, #fe8900) !important;
}

.hamburger-menu {
  width: 1.8rem;
  position: fixed;
  right: 0;
  top: 0;
  margin: 2rem 2rem 0 0;
}

@media screen and (max-width: 768px) {
  .offcanvas {
    width: 20rem;
  }
}

.circle,
.circle-offcanvas {
  position: absolute;
  width: 8rem;
  height: 48rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe0000), to(#fe8900)) !important;
  background: linear-gradient(#fe0000, #fe8900) !important;
  border-radius: 100% !important;
  -webkit-filter: blur(16rem);
          filter: blur(16rem);
  -webkit-animation: custom-pulse 5s infinite ease-in-out;
          animation: custom-pulse 5s infinite ease-in-out;
  z-index: -10000000000000000000000000;
}

.circle {
  top: 0;
  left: 0;
}

.circle-offcanvas {
  bottom: 0;
  right: 0;
}

@-webkit-keyframes custom-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes custom-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white !important;
  border-radius: 3px !important;
  font-size: 0.86rem;
  text-decoration: none !important;
}

body {
  background: #202124 !important;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
  mix-blend-mode: screen !important;
  background-blend-mode: screen !important;
}

.avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 100% !important;
  cursor: pointer;
}

.avatar-pulse {
  opacity: 0.6;
  width: 200px !important;
  height: 200px !important;
  z-index: -1000;
  margin-bottom: 2px;
}

.award-img {
  height: 25px;
}

.responder-question-number p {
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
  background: #202124;
  cursor: pointer;
}

.navigator_item {
  border-radius: 100% !important;
  width: 60px !important;
  height: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator_item:not(:last-child) {
  margin-right: 1rem;
}

.quesNavigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 2rem;
  overflow: auto !important;
}

.quesNavigator::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.form-control::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.highlight-selected-question-background {
  width: 100% !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent)) !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent) !important;
}

.responder-question-number {
  margin-top: -32px;
}

.selected-question,
.responder-question-number p:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fe0000), to(#fe8900)) !important;
  background: linear-gradient(90deg, #fe0000, #fe8900) !important;
  border: none !important;
}

.row a {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

object {
  pointer-events: none;
}

.ready-to-share {
  margin-bottom: 10rem;
}

.btn-light:hover {
  background-color: #353639 !important;
}

p,
label,
::-webkit-input-placeholder,
a {
  font-weight: normal !important;
  margin: 0 !important;
}

p,
label,
:-ms-input-placeholder,
a {
  font-weight: normal !important;
  margin: 0 !important;
}

p,
label,
::-ms-input-placeholder,
a {
  font-weight: normal !important;
  margin: 0 !important;
}

p,
label,
::placeholder,
a {
  font-weight: normal !important;
  margin: 0 !important;
}

h4,
h5 {
  font-weight: bold !important;
}

.btn-primary {
  font-weight: bold !important;
}

.fab {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 100% !important;
  background: #303134;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 2rem 2rem 0;
  cursor: pointer;
  -webkit-box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.1);
          box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.fab img {
  width: 1.4rem;
}

.fab:active {
  background: -webkit-gradient(linear, left top, right top, from(#fe0000), to(#fe8900)) !important;
  background: linear-gradient(90deg, #fe0000, #fe8900) !important;
}

.btn:active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0.995);
          transform: scale(0.995);
}

/* custom scrollbar-------------------------------- */
::-webkit-scrollbar {
  width: 1px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar:hover {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #202124;
}

::-webkit-scrollbar-thumb {
  background: #303134;
}

::-webkit-scrollbar-thumb:hover {
  background: #303134;
  border-radius: 100px !important;
}

/* -------------- BEGIN abhisek patch ------------- */
.btn.btn-primary.btn-progress {
  padding: 0 0;
}

.btn-border {
  border: 1px solid red !important;
}
/*# sourceMappingURL=style.css.map */