@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import "partials/theme";
@import "partials/bootstrap";
@import "partials/modal";
@import "partials/footer";
@import "partials/skeletonLoading";
@import "partials/utilities";
@import "partials/shineHover";
@import "partials/animatedColorPulse";
@import "partials/offcanvas";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: $tc !important;
  border-radius: 3px !important;
  font-size: 0.86rem;
  text-decoration: none !important;
}

body {
  background: $bg !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  mix-blend-mode: screen !important;
  background-blend-mode: screen !important;
}

.avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 100% !important;
  cursor: pointer;
}

.avatar-pulse {
  opacity: 0.2;
  width: 240px !important;
  height: 240px !important;
  z-index: -1000;
}
.award-img {
  height: 25px;
}

.responder-question-number p {
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
  background: $bg;
  cursor: pointer;
}

.navigator_item {
  border-radius: 100% !important;
  width: 50px !important;
  height: 50px !important;
  aspect-ratio: 1;
  @include df;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.quesNavigator {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 2rem;
  overflow: auto !important;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.form-control::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.highlight-selected-question-background {
  width: 100% !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent) !important;
}

.responder-question-number {
  margin-top: -32px;
}

.selected-question,
.responder-question-number p:hover {
  background: linear-gradient(90deg, $lgColor1, $lgColor2) !important;
  border: none !important;
}

.row a {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

object {
  pointer-events: none;
}

.ready-to-share {
  margin-bottom: 10rem;
}

.btn-light:hover {
  background-color: lighten($color: $diselect, $amount: 2) !important;
}

p,
label,
::placeholder,
a {
  font-weight: normal !important;
  margin: 0 !important;
}

h4,
h5 {
  font-weight: bold !important;
}

.btn-primary {
  font-weight: bold !important;
}

.fab {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 100% !important;
  background: $diselect;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 2rem 2rem 0;
  cursor: pointer;
  box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.1);
  @include dg;
  img {
    width: 1.4rem;
  }
  &:active {
    background: $linearGradient;
  }
}

// .btn-border-for-choosed-wrong-option {
//   border: 1px solid red !important;
// }

.btn:active {
  transition: all 0.2s;
  transform: scale(0.995);
}

/* custom scrollbar-------------------------------- */
::-webkit-scrollbar {
  width: 1px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar:hover {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background: $bg;
}

::-webkit-scrollbar-thumb {
  background: $diselect;
}

::-webkit-scrollbar-thumb:hover {
  background: $diselect;
  border-radius: 100px !important;
}

/* -------------- BEGIN abhisek patch ------------- */
.btn.btn-primary.btn-progress {
  padding: 0 0;
}

.btn-border {
  border: 1px solid red !important;
}
