.circle {
  width: 16rem;
  height: 16rem;
  background: $linearGradient;
  border-radius: 100% !important;
  filter: blur(20rem);
  animation: custom-pulse 5s infinite;
}

@keyframes custom-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
    background: $linearGradient;
  }
  50% {
    transform: scale(0.85);
    opacity: 0.5;
    background: $linearGradientScrollbar;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background: $linearGradient;
  }
}
