.modal {
  z-index: 100000;
  * {
    border: none !important;
  }
}

.modal-content {
  background: transparentize($color: $diselect, $amount: 0.8) !important;
  backdrop-filter: blur(10px) !important;
  border-bottom: 0.6rem solid rgba(255, 255, 255, 0.1) !important;
  padding: 2rem;
}

.modal-btn {
  margin-top: -2rem;
  cursor: pointer;
  pointer-events: all;
}
