.modal {
  z-index: 100000;
  * {
    border: none !important;
  }
}
.modal-content {
  background: transparentize($color: $bg, $amount: 0.8) !important;
  backdrop-filter: blur(10px) !important;
  padding: 2rem;
}

.modal-btn {
  position: absolute;
  bottom: -1.5rem;
  cursor: pointer;
}
