.offcanvas {
  background: linear-gradient(
    rgba(24, 25, 26, 1),
    rgba(24, 25, 26, 0.6)
  ) !important;

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-left: 0.2rem solid rgba(255, 255, 255, 0.2);
  padding-top: 6rem !important;
}

li {
  padding: 1rem 0;
  border-radius: 0 !important;
  cursor: pointer;
  &:hover {
    background: linear-gradient(90deg, $lgColor1, $lgColor2) !important;
  }
}

.hamburger-menu {
  width: 1.8rem;
  position: fixed;
  right: 0;
  top: 0;
  margin: 2rem 2rem 0 0;
}
