$tc: white;
$bg: #242526;
$diselect: #3a3b3c;
$lg-color-1: #fe0000;
$lg-color-2: #fe8900;
$linear-gradient: linear-gradient(90deg, #fe0000, #fe8900) !important;
$linear-gradient-scrollbar: linear-gradient(#fe0000, #fe8900) !important;
