$tc: white;
$bg: #202124;
$diselect: #303134;
$border: #4a4a4a;
$lgColor1: #fe0000;
$lgColor2: #fe8900;
$linearGradient: linear-gradient(90deg, #fe0000, #fe8900) !important;
$linearGradientScrollbar: linear-gradient(#fe0000, #fe8900) !important;
